body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
  }
  
  .container {
    max-width: 400px;
    width: 20%;
    padding: 20px;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .profile-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
    overflow: hidden;
  }
  
  .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile-info {
    text-align: center;
    margin-bottom: 20px;
  }

  .profile-info h2{
    color: #ffffff;
  }

  .profile-info h5{
    color: #c4e841;
  }

  .profile-info p{
    padding-top: 10px;
    color: #ffffff;
    font-size: 14px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
  }
  
  .button {
    padding: 10px;
    margin: 5px 0;
    height: 40px;
    background-color: rgb(55, 53, 53);
    color: #fff;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: rgb(66, 65, 65);
  }
  
  @media screen and (max-width: 600px) {
    .container {
      max-width: 300px;
    }
    
    .profile-photo {
      width: 70px;
      height: 70px;
    }
  }